@model CategoryViewModel
<h1>Them danh muc</h1>
<p class="text-danger">
	@{
		var message=ViewBag.Message;
	}
	@message
</p>
<div>
	<form asp-action="Create" method="post" >
		<div>
		<label class="form-label" for="name">Ten Danh Muc</label>
		<input class="form-control" type="text" id="name" name="CategoryResponse.Name" required/>
		</div>
		<div>
			<button class="btn btn-primary" type="submit" >Them moi</button>
			<a class="btn btn-secondary" asp-action="Index">Quay lai</a>
		</div>
	</form>
</div>